In [23]:
import pandas as pd

dict_data = {'c0':[1,2,3],
            'c1': [4,5,6],
            'c2': [7,8,9],
            'c3': [10,11,12],
            'c4': [13,14,15]}
df = pd.DataFrame(dict_data,index=['r0','r1','r2'])
df

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [18]:
new_index = ['r0','r1','r2','r3','r4'] # 새로운 인덱스 선언해주고
ndf = df.reindex(new_index) # 새 인덱스를 지정해줌
print(ndf)

     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN

In [19]:
new_index = ['r0','r1','r2','r3','r4']
ndf2 = df.reindex(new_index, fill_value=0) # fill_value : NaN값들을 뭘로 채워라~
print(ndf2)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0

In [24]:
# df.reset_index() # 인덱스를 다시 리셋해줌

In [27]:
df.sort_index(ascending = False) # 인덱스 내림차순 정렬

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13