In [3]:
import requests
from bs4 import BeautifulSoup
import pandas

In [6]:
url = 'https://music.bugs.co.kr/chart/track/day/total?chartdate=20201101'
response = requests.get(url)
content = response.content
html = BeautifulSoup(content, 'html.parser')

In [10]:
len(html.find_all('table'))

2

In [13]:
table = html.find('table', {'class':"list trackList byChart"})
tr_list = table.find('tbody').find_all('tr')

In [39]:
rows = []
for tr in tr_list:
    rank = tr.find('strong').text
    title = tr.find('p',{'class':'title'}).text.strip()
    artist = tr.find('p',{'class':'artist'}).text.strip()
    album = tr.find('a',{'class':'album'}).text.strip()
    rows.append([rank,title,artist,album])

In [46]:
df = pandas.DataFrame(data=rows, columns = ['rank','title','artist','album'])
df.set_index('rank', inplace=True)
df.head()

                title        artist                       album
rank
1           잠이 오질 않네요           장범준                   잠이 오질 않네요
2     I CAN’T STOP ME  TWICE (트와이스)              Eyes wide open
3      Lovesick Girls     BLACKPINK                   THE ALBUM
4            Dynamite         방탄소년단  Dynamite (DayTime Version)
5               너도 아는  폴킴(Paul Kim)                       너도 아는