In [1]:
import pandas as pd

In [6]:
# 딕셔너리형 데이터 선언, 열이름이 key, 리스트가 value (2차원배열)
dict_data = {'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}

df = pd.DataFrame(dict_data)

In [7]:
print(type(df))
print('-'*50)
print(df)

<class 'pandas.core.frame.DataFrame'>
--------------------------------------------------
   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [21]:
# 리스트형 데이터 선언
list_data = [[15,'남','덕영중'],
            [17,'여','수리중']]
pd.DataFrame(list_data,
             columns = ['age','gender','school'], # 컬럼명과 인덱스명 지정 가능
             index = ['준서','예은'])

    age gender school
준서   15      남    덕영중
예은   17      여    수리중

In [30]:
# 딕셔너리형 데이터 선언
dic_data = {'나이':[15,17],'성별':['남자','여자'],'학교':['덕영중','수리중']}
a = pd.DataFrame(dic_data,index =[ '준서','예은'])
a.transpose() # 컬럼과 인덱스를 서로 바꿀 수 있음

     준서   예은
나이   15   17
성별   남자   여자
학교  덕영중  수리중

In [56]:
list_data = [[15,'남','덕영중'],
            [17,'여','수리중']]
df = pd.DataFrame(list_data,
             columns = ['age','gender','school'], # 컬럼명과 인덱스명 지정 가능
             index = ['준서','예은'])

df.index = ['학생1','학생2'] # 인덱스명 수정
df.columns = ['연령','남녀','소속'] # 컬럼명 수정

print(df.index) # 인덱스 값
print('-'*30)
print(df.columns) # 컬럼 값
print('-'*30)
print(df.values) # 데이터 값

Index(['학생1', '학생2'], dtype='object')
------------------------------
Index(['연령', '남녀', '소속'], dtype='object')
------------------------------
[[15 '남' '덕영중']
 [17 '여' '수리중']]

In [60]:
# df.drop('소속',axis=1, inplace = True) # 실제 데이터프레임을 수정하려면 inplace
df2 = df.drop('소속',axis=1) # 새로운 객체에 값을 반환해줌, 원본데이터 유지위해
df2

     연령 남녀
학생1  15  남
학생2  17  여