In [1]:
import pandas as pd

In [9]:
exam_data = {'수학':[90,80,70], '영어':[98,89,95],
             '음악':[85,95,100], '체육':[100,90,90]}

df = pd.DataFrame(exam_data, index=['서준','우현','인아'])
print(df)
print('-'*40)

df2 = df[:] # 복사할때 같은 객체를 가리키지 않기 위해 슬라이싱 해줌, 원본도 수정방지
df2.drop('우현',inplace=True)
print(df2)
print('-'*40)

df3=df[:]
df3.drop(['우현','인아'],axis=0,inplace = True)
print(df3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
----------------------------------------
    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90
----------------------------------------
    수학  영어  음악   체육
서준  90  98  85  100

c:\users\hk\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4167: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
c:\users\hk\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4167: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [18]:
df4 = df[:]
df4.drop('수학',axis=1, inplace = True)
df4

    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90

In [24]:
df5 = df[:]
df5.drop(['영어','체육'],axis=1, inplace = True)
df5

c:\users\hk\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4167: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

    수학   음악
서준  90   85
우현  80   95
인아  70  100

In [28]:
label1 = df.loc[['서준','우현']] # 행인덱스 사용하여 객체에 저장
position1 = df.iloc[0:] # 행인덱스 사용하여 객체에 저장

print(label1)
print(position1)

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90
    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90