In [38]:
import pandas as pd

exam_data = {'이름': ['서준','우현','인아'],
            '수학' : [90,80,70],
            '영어' : [98,89,95],
            '음악' : [85,95,100],
            '체육' : [100,90,90]}
df = pd.DataFrame(exam_data)
print(df)
print('-'*40)

math1 = df['수학']
print(math1)
print('-'*40)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
----------------------------------------
0    90
1    80
2    70
Name: 수학, dtype: int64
----------------------------------------

In [12]:
eng = df.영어
print(type(eng))
print(eng)

<class 'pandas.core.series.Series'>
0    98
1    89
2    95
Name: 영어, dtype: int64

In [14]:
music_gym = df[['음악','체육']]
print(music_gym)
print(type(music_gym))

    음악   체육
0   85  100
1   95   90
2  100   90
<class 'pandas.core.frame.DataFrame'>

In [39]:
df.set_index('이름',inplace=True)

In [46]:
a = df.loc['서준','음악']
b = df.loc['서준']['음악']
c = df.iloc[0,2]
print(a)
print(b)
print(c)

85
85
85

In [48]:
df.loc[['서준','우현'],'수학']
df.loc[['서준','우현'],['수학','영어']]

    수학  영어
이름
서준  90  98
우현  80  89

In [54]:
df['국어']=[80,85,90] # 데이터프레임에 새로운 열 추가

    수학  영어   음악   체육  국어
이름
서준  90  98   85  100  80
우현  80  89   95   90  85
인아  70  95  100   90  90