In [32]:
import pandas as pd
import numpy as np

In [2]:
student1 = pd.Series({'국어':100, '영어':80, '수학':90})
student1

국어    100
영어     80
수학     90
dtype: int64

In [6]:
percentage = student1/200 # 과목별 점수를 200으로 나누기
print(percentage)
print(type(percentage)) # 나눗셈하면 실수형태로 출력

국어    0.50
영어    0.40
수학    0.45
dtype: float64
<class 'pandas.core.series.Series'>

In [7]:
student2 = pd.Series({'수학':80, '국어':90, '영어':80})

In [14]:
print(student1,student2)

국어    100
영어     80
수학     90
dtype: int64 수학    80
국어    90
영어    80
dtype: int64

In [15]:
add = student1 + student2
sub = student1 - student2
mul = student1 * student2
div = student1 / student2

In [31]:
result = pd.DataFrame({'덧셈':add, '뺄셈':sub, '곱셈':mul, '나눗셈':div})
result

     덧셈  뺄셈    곱셈       나눗셈
국어  190  10  9000  1.111111
수학  170  10  7200  1.125000
영어  160   0  6400  1.000000

In [34]:
student3 = pd.Series({'국어':80, '영어':85, '음악':90})
print(student1 + student3) # 키 값이 같지 않으면 연산이 안됨 -> NaN값 출력

국어    180.0
수학      NaN
영어    165.0
음악      NaN
dtype: float64

In [40]:
add = student1 + student3
sub = student1 - student3
mul = student1 * student3
div = student1 / student3
df = pd.DataFrame([add,sub,mul,div], index=['덧셈','뺄셈','곱셈','나눗셈'])
df['수학']=0
df['음악']=0
df

          국어  수학           영어  음악
덧셈    180.00   0   165.000000   0
뺄셈     20.00   0    -5.000000   0
곱셈   8000.00   0  6800.000000   0
나눗셈     1.25   0     0.941176   0

In [45]:
add = student1.add(student3,fill_value=0) # 계산이 안되는것은 0으로 치환해서 계산할 수 있음
sub = student1.sub(student3,fill_value=0)
mul = student1.mul(student3,fill_value=0)
div = student1.div(student3,fill_value=0)
df = pd.DataFrame([add,sub,mul,div], index=['덧셈','뺄셈','곱셈','나눗셈'])
df

          국어    수학           영어    음악
덧셈    180.00  90.0   165.000000  90.0
뺄셈     20.00  90.0    -5.000000 -90.0
곱셈   8000.00   0.0  6800.000000   0.0
나눗셈     1.25   inf     0.941176   0.0