In [8]:
# json 불러오기
import json 
import pandas

file = open('sample3.json','r')
dic_data = json.load(file)
df = pandas.DataFrame(dic_data)
df

           name  year        developer opensource
pandas           2008    Wes Mckinneye       True
numpy            2006  Travis Oliphant       True
matplotlib       2003   John D. Hunter       True

In [9]:
import pandas

df = pandas.read_json('sample3.json')
df

           name  year        developer opensource
pandas           2008    Wes Mckinneye       True
numpy            2006  Travis Oliphant       True
matplotlib       2003   John D. Hunter       True