table1.html 파일을 스크랩핑 하여 데이터를 수집한다.

In [60]:
from bs4 import BeautifulSoup as bs
import pandas

In [3]:
file = open('table.html',encoding='utf-8')
read = file.read()
html = bs(read, 'html.parser')
file.close()
html

<html>
<head>
<title>학생명단</title>
<style>
			table {border : red 1px solid}
			table th {border : blue 1px solid}
			table td {border : 1px solid}
		</style>
</head>
<body>
<table>
<thead>
<tr>
<th>ID</th>
<th>이름</th>
<th>국어</th>
<th>영어</th>
<th>수학</th>
</tr>
</thead>
<tbody>
<tr>
<td>hong</td>
<td>홍길동</td>
<td>78</td>
<td>85</td>
<td>70</td>
</tr>
<tr>
<td>hwang</td>
<td>황진이</td>
<td>81</td>
<td>83</td>
<td>78</td>
</tr>
</tbody>
</table>
</body>
</html>

In [8]:
head_tr_list = html.find('table').find('thead').find_all('tr')
body_tr_list = html.find('table').find('tbody').find_all('tr')

In [43]:
cols = [i.text.split() for i in head_tr_list]
cols = cols[0]
print(cols)

['ID', '이름', '국어', '영어', '수학']

In [42]:
rows = [i.text.split() for i in body_tr_list]
print(rows)

[['hong', '홍길동', '78', '85', '70'], ['hwang', '황진이', '81', '83', '78']]

In [67]:
df = pandas.DataFrame(rows,columns = cols)
df.set_index('ID',inplace = True)
df

        이름  국어  영어  수학
ID
hong   홍길동  78  85  70
hwang  황진이  81  83  78