In [43]:
import pandas

data = [['Jerry', 'A', 'C', 'B+'],
       ['Riah', 'A+', 'B', 'C'],
       ['Jerry', 'B', 'B+', 'C+']]

data2 = {'name':['lee','kim','park'],
        'algol':['A','A+','A'],
        'basic':['C','B','B+'],
        'c++':['B+','C','C+']}

In [37]:
df1 = pandas.DataFrame(data, columns = ['name','algol','basic','c++'])

In [44]:
df2 = pandas.DataFrame(data2)

In [39]:
df1.set_index('name',inplace=True)
df1

      algol basic c++
name
Jerry     A     C  B+
Riah     A+     B   C
Jerry     B    B+  C+

In [40]:
df1.to_csv('df_sample.csv')

In [45]:
df2.set_index('name',inplace=True)
df2

     algol basic c++
name
lee      A     C  B+
kim     A+     B   C
park     A    B+  C+

In [46]:
df2.to_json('df_sample.json')

In [47]:
filename = 'students.xls'
writer = pandas.ExcelWriter(filename)
df1.to_excel(writer,sheet_name='page1')
df2.to_excel(writer,sheet_name='page2')
writer.save()